.header {
    background: rgba(255, 255, 255);
    max-height: 104px;
    height: 104px;
  }

  .headr-cus{
    height: 13%;
  }
  .headr-cus-clas{
      height: 80px;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
  }

  .cus-nav-link {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  .cus-nav-link-part-3{
      padding-top: 0;
  }

  .mainpage{
      margin-bottom: 50px;
      font-size: 50px;
      font-weight: bold;
      font-family:sans-serif;

  }

.mainpage-border{
    padding:0 8%;
}


  .app-icon img{
      width: auto;
      height: 4rem;
  }

  .page-2{
    background: rgb(15,0,182);
    background: linear-gradient(90deg, rgba(15,0,182,1) 34%, rgba(133,2,220,1) 83%);
  }